@model IEnumerable<BookReport.Models.Story>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MainTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MainTitle)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MainTitle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MainTitle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MainTitle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
